<h2>Create a new service</h2>

<%= form_for @service , :html => {:class => "form-horizontal"} do |f| %>
  <% if @service.errors.any? %>
    <div class="alert alert-error">
      <h2>Form is invalid</h2>
      <ul>
        <% @service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => field_class(@service, :name) %>
    <div class="controls">
    	<%= f.text_field :name, :class=>"form-control x-long" %>
    </div>	
  </div>
  
  <div class="control-group">
    <%= f.label :description, :class => field_class(@service, :description) %>
    <div class="controls">
    	<%= f.text_area :description, :size=>"50x6", :class=>"form-control x-long"  %>
    </div>	
  </div>
  
   <div class="control-group">
    <%= f.label :length, :class => field_class(@service, :length) %>
    <div class="controls">
    	<%= f.text_field :length , :class=>"short" %>
    	<div style="width:500px;">
			<input id="sliderLength" type="text" value="" data-slider-min="0" data-slider-max="32" data-slider-step="1" data-slider-value="2" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-handle="square"/>	
</div>
    </div>	
  </div>
  
  <div class="control-group">
    <%= f.label :price, :class => field_class(@service, :price) %>
    <div class="controls">
    	<%= f.text_field :price , :class=>"short" %>
    </div>	
  </div>


  
  <div class="control-group">
	<div class="controls">
  		<%= submit_tag "Create new service", class: "btn btn-medium btn-primary"   %>
  	</div>
  </div>  
<% end %>

<script type="text/javascript">
	$(document).ready(function() {	
		var serviceLength = $('#sliderLength').slider(
			{formater: function(value)
				{
					return '[' + value + ']';
				}
			})
			.on('slide', function(ev){
				console.log(ev.value);
			})
			.data('slider');
	});	
</script>			
