<h2>Users under the Account ID: <%=@account.id%></h2>

<table class="table table-hover table-condensed">
	<thead>
		<tr>
			<th width="120px">Action</th>
			<th  width="250px">Display name</th>
			<th>Username</th>
			<th>Type</th>
		</tr>
	</thead>
<%@memberships.each do |membership| %>
	<tr>
		<td>
			<%= link_to "Edit", :controller => "users", :action=>"edit" , :account_id=>@account.id , :id =>membership.user.id%>  
			|  <%= link_to "Delete", :controller => "users", :action=>"destroy" , :account_id=>@account.id , :id =>membership.user.id , :method=>:delete, :class=>"btn btn-danger",:confirm=>"Are you sure?" %>
			</td>
		<td><%=membership.user.display_name %></td>
		<td><%=membership.user.username %></td>
		<td><%=membership.membership_type%></td>			
	</tr>	
		
<%end%>
</table>

<%= link_to 'Add new user', new_user_path, class: "btn btn-medium btn-primary" %>

	
